.grid-container {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 10px;
	background-color: #FF9900;
	padding: 10px;
}

.grid-container > div {
	background-color: #FFE0B2;
	text-align: center;
	padding: 20px 0;
	font-size: 2vw;
  }

.grid-container > div > form {
  text-align: right;
}

input {
	width: 80%;
}

.movelbl {
	color: green;
}

button {
	border: none;
	width: 32%;
	font-size: 2vw;
	display: inline-block;
}

table {
	font-size: 1vw;
}

tr:nth-child(even) {
	background-color: #FF9900;
}

tr:nth-child(odd) > td > button {
	background-color: #FFE0B2;
	width: auto;
}

tr:nth-child(even) > td > button {
	background-color: #FF9900;
	width: auto;
}